
body{

color: rgb(246, 248, 245);
background: rgba(5, 214, 241, 0.836);
margin: 0px;
  font-family: "Cormorant Garamond", serif;

}

header{

border-bottom: solid 5px ;
padding: 20px;
font-size: 50px;
color: black;
display: flex;
justify-content: center;
}

h2{ 
font-size:small;
font-display: flex;
text-align: center;

}
section{
background: rgb(71, 125, 224);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
div{
margin-right: 20px;

}
.chamada-texto{   
padding-bottom: 200px;

}